<ng-container *ngIf="loading"> 
<app-loading></app-loading>
</ng-container>

<ng-container *ngIf="loading==false">
<div class="container-fluid titulo">
    <h1>Movilidad</h1>
</div>

<div class="container-fluid logo">
    <img  src="{{pathmovilidad}}" alt="">
</div>

<div class="container-fluid body" >
    <!-- fila 1 -->
    <div class="row ">
        <div class="col-sm" >
            <h1 class="titulo1">Objetivo General</h1>
            <p>
                <ng-container *ngFor="let lista of listaobjetivo">
                    {{lista.descripcion}}
                 </ng-container>
                 <ng-container *ngIf="listaobjetivo.length==0">
                    No existe Datos en el Objetivo General
                 </ng-container>
            </p>
        </div>
        <div class="col-sm" >
            <h1 class="titulo1">Programa de movilidad académica estudiantil</h1>
            <p> <ng-container *ngFor="let lista of listaprograma">
                {{lista.descripcion}}
             </ng-container>
             <ng-container *ngIf="listaprograma.length==0">
                No existe Datos en el Programa de Movilidad
             </ng-container></p>
        </div>
    </div>
    <!-- fila 2 -->
    <div class="row">
        <div class="col-sm" >
            <h1 class="titulo1">Beneficios</h1>
            <p>
                <ng-container *ngFor="let lista of listabeneficios">
                    {{lista.descripcion}}
                 </ng-container>
                 <ng-container *ngIf="listabeneficios.length==0">
                    No existe Datos en los Beneficios
                 </ng-container>
            </p>
        </div>
        <div class="col-sm" >
            <h1 class="titulo1">Reglamento</h1>
            <button type="button" class="btn btn-success center">Reglamento</button>
        </div>
    </div>
</div>
</ng-container>
